*{
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;

}
nav{
    display: flex;
    background: #000;
    width: 110%;
    height: 5rem;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1;
    
}
.logo{
    display: flex ;
    align-items: center;
    margin-left: 5rem;
}

.nav-container{
    display: flex;
    background: rgb(255, 0, 0);
    width: 72%;
    height: 5rem;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    margin-left: 7rem;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

ul{
    margin-left: 7rem;
}
ul a{
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
}
ul a:hover{
    border-bottom:1px solid white;
}

.login{
    margin-left: 10rem;
}
.login a{
    color: white;
    text-decoration: none;
}
.login i{
    background: white;
    color: rgb(0, 89, 255);
    border: 5px solid white;
    border-radius: 20px;
    cursor: pointer;
}

#home{
    width: 100%;
    height: 38rem;
    justify-items: center;
    background: #000;
}


.slider {
    width: 95%;
    margin: auto;
    position: relative;
}

.slick-slide {
    position: relative;
}

.slick-slide img {
    width: 100%;
    height: 500px; /* Adjust as needed */
    margin-top: 5.5rem;
    object-fit: cover;
}

.overlay-text h1{
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.774);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2rem;
}

.overlay-text h4{
    position: absolute;
    top: 50%;
    left: 10%;
    background: rgba(0, 0, 0, 0.774);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
}

.overlay-text h2{
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
    width: 50rem;
    height: 10rem;
    line-height: 3rem;
    background: rgba(0, 0, 0, 0.774);
    padding: 10px 20px;
    border-radius: 5px; 
}
.overlay-text p{
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
    width: 50rem;
    height: 10rem;
    background: rgba(0, 0, 0, 0.774);
    padding: 20px 20px;
    border-radius: 5px; 
    font-size: 1.3rem;
    line-height: 3rem;
}


/* team */
#team{
    width: 100%;
    height: 25rem;
    background: black;
    justify-items: center;
}


.team-head{
    color: white;
    padding: 2rem;
    display: flex;
}
.team-container{
    width: 99.9%;
    height: 16rem;
    text-align: center;
    color: white;
    display: flex;
    align-items : center;
}
.team-content{
    margin-left: 3rem;
}
.team-overview{
    background: red;
    height: 16rem;
    width: 80%;
    align-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
    justify-items: center;
    border: 2px solid gold;
}
.team-overview p{
    font-size: 1.3rem;
    width: 70%;
    
}
.team-overview button{
    background: #000;
    border: 2px solid black;
    border-radius: 10px;
    margin:1rem;
    padding: 8px;
    font-size: 1rem;
    transition:0.3s ease-in-out;

}
.team-overview button:hover{
    transform: scale(1.1);
    background: rgb(204, 8, 8);
}



.team-overview a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

/* standing */
#standing{
    background: red;
    height: 25rem;
    color: white;
    background-image: url(../image/stand.bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.standing-container{
    margin-top: 1rem;
    background: rgba(0, 0, 0, 0.658);
    height: 22rem;
    width: 90%;
    border-radius: 20px;    
}

.standing-container h1{
    margin-top: 2.5rem;
    font-size: 1.8rem;
}
.standing-container p{
    font-size: 1.3rem;
    margin: 2rem;
}
.standing-container button{
    background: #ee0b0b;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.standing-container button:hover{
    transform: scale(1.1);
}

/* players */

#players{
    width: 100%;
    height: 35rem;
    background: #000;
    color: white;
    justify-items: center;
}
.player-container{
    height: 32rem;
    width: 100%;
    display:flex;
    background-image: url(../image/pla.bg1.jpeg);
    background-size: cover;
    justify-items: center;
    justify-content: center;
}
.player-container .player-box{
    background: #2e2d2d60;
    width: 100%;
    height: 32rem;
}

.player-box .player-box-items{
    height: 15rem;
    width: 80%;
    background: #00000091;
    border-radius: 30px;
    border: 1px solid gold;
    text-align: center;
    margin: 5rem 7rem;
    padding: 1rem;
    font-size: larger;

}

.player-box-items h2{
    margin: 1rem;
    width: 20%;
}
.player-box-items p{
    text-align: left;
    margin-left: 1rem;
    line-height: 2rem;
}
.player-box-items button{
    background: #ee0b0b;
    color: white;
    padding: 7px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}
.player-box-items button:hover{
    transform: scale(1.1);
}


/* footer */
#footer{
    width: 100%;
    height: 33rem;
    background: #000;
    display: flex;
    color: white;
    display: flex;
}
.footer-table{
    text-align-last: left;
    margin-left: 15rem;
    width: 65%;
    height: 30rem;
    border-collapse: collapse;
    border-color: white;
    margin-top: 2rem;

}

.footer-table-heading{
    font-size: 1.3rem;
}
.footer-table i{
    margin-left: 5px;
}





