body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-heading{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 3rem;

}
form {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-bottom: 10rem;
    padding: 6rem 4rem;
}



label {
    display: block;
    font-weight: bold;
    margin: 8px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

p {
    color: red;
    font-size: 14px;
}
