<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerala Blasters FC</title>
    <link rel="stylesheet" href="{% static 'CSS/clubs/clubplayers.css'%}">
</head>
<body>
<section id="team-players">
    
    <div class="club-heading" style="background: linear-gradient(to right, #E8D82B,#2C74DF);">
        <img src="{% static 'image/ker.fc.webp'%}" alt="" width="130px">
        <h1>Kerala Blasters FC</h1>
    </div>
    
    <div class="players-table-container">

    <table class="club-players-table">
        <thead class="club-players-table-heading">
            <th>ID</th>
            <th>Profile</th>
            <th>Name</th>
            <th>Position</th>
            <th>Matches</th>
            <th>Goals</th>
        </thead>

        
        <div class="club-players-table-datas">

            {% for x in pl %}
            <tr>
                <td>{{ x.id }}</td>
    
                <td>
                    {% if x.img %}
                        <img src="{{ x.img.url }}" alt="player_img" width="100">
                    {% else %}
                        No Image
                    {% endif %}
                </td>
    
                <td>{{ x.name }}</td>
                <td>{{ x.position }}</td>
                <td>{{ x.mathch }}</td>
                <td>{{ x.goal }}</td>
            </tr>
            {% endfor %}   

        </div>
        
    </table>

    </div>
</section>

<section id="club-footer">
    <h2>clubfooter</h2>
</section>


</body>
</html>